@define-color bg    #272e33;
@define-color bg4   #495156;
@define-color bgr   #493b40;
@define-color bgy   #45443c;
@define-color bgg   #3c4841;
@define-color bgb   #384b55;
@define-color fg    #d3c6aa;
@define-color blk   #1e2326;
@define-color red   #e67e80;
@define-color grn   #a7c080;
@define-color ylw   #dbbc7f;
@define-color blu   #7fbbb3;
@define-color mag   #d699b6;
@define-color cyn   #83c092;
@define-color wht   #ffffff;

* {
    font-family: "JetBrains Mono NFP", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background: @bg;
    color: @fg;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
    color: @fg;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
}

button:hover {
    box-shadow: inset 0 -2px @grn;
}

#workspaces button.empty,
#workspaces button.empty label {
    font-size: 0;
    min-height: 0;
    min-width: 0;
    padding: 0;
}

#workspaces button.focused,
#workspaces button.active {
    font-size: inherit;
    min-height: inherit;
    min-width: inherit;
    padding: 0 8px;
    background-color: @bgg;
    box-shadow: inset 0 -2px @grn;
}

#workspaces button.focused label,
#workspaces button.active label {
    font-size: unset;
    min-height: unset;
    min-width: unset;
    padding: unset;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#power-profiles-daemon {
    padding: 0 10px;
    color: @fg;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @bg4;
}

#battery {
    color: @blk;
}

#battery.good {
    background-color: @grn;
}

#battery.warning {
    background-color: @ylw;
}

#battery.critical {
    background-color: @red;
}

#battery.charging, #battery.plugged {
    background-color: @blu;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
