input {
    keyboard {
        xkb {
            layout "gb"
        }
        repeat-delay 200
        repeat-rate 35
    }

    touchpad {
        tap
        dwt
        click-method "clickfinger"
    }

    focus-follows-mouse max-scroll-amount="0%"
}
