output "eDP-1" {
    mode "2880x1920@120.000"
    position x=0 y=0
    focus-at-startup
    variable-refresh-rate on-demand=true
}

output "ASUSTek COMPUTER INC ASUS VG249 0x00000B82" {
    mode "1920x1080@144.001"
    position x=-240 y=-1080 // I have no idea how this works...
    variable-refresh-rate on-demand=true
}
