window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"mpv"#
    open-maximized-to-edges true // Maximize to edges when leaving fullscreen
    open-fullscreen true // Default is fullscreen as it's the last option
}

workspace "chat"

window-rule {
    match app-id=r#"vesktop"#
    open-maximized true
    open-on-workspace "chat"
}

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

