window-rule {
    match app-id=r#"firefox$"#
    open-maximized true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"mpv"#
    open-maximized-to-edges true // Maximize to edges when leaving fullscreen
    open-fullscreen true // Default is fullscreen as it's the last option
}

window-rule {
    match app-id=r#"vesktop"#
    open-maximized-to-edges true
}

window-rule {
    match app-id=r#"[s|S]potify"#
    open-maximized-to-edges true
}

window-rule {
    match app-id=r#"steam"# title="^Steam$"
    open-maximized-to-edges true
}

window-rule {
    match app-id=r#"steam"#
    open-floating true
}

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

